:root {
  /**
   * Color scheme
   */
  --gray-lightest: #f2f2f2;
  --gray: #999;
  --gray-dark: #666;
  --gray-darkest: #1a1a1a;
  --black: #000;

  --background-color: var(--gray-dark);
  --text-color: var(--black);
  --gui-text-color: var(--black);
  --gui-window-box-shadow: 0 0 32px 0px #00000044;
  --gui-title-bar-color: #f2f2f2;
  --gui-window-control-hover-color: #e9e9e9;
  --gui-window-control-active-color: #ededed;
  --gui-window-control-close-hover-color: #c42b1c;
  --gui-window-control-close-active-color: #c83c31;
  --code-editor-background-color: #000000f2;
  --code-editor-text-color: var(--gray-lightest);
  --code-editor-cursor-color: var(--gray);

  /**
   * Fonts
   */
  --font-normal: "Roboto Condensed", -apple-system-condensed,
    SanFranciscoCondensed-Regular, SanFranciscoCondensed,
    "San Francisco Condensed", AvenirNextCondensed-Regular, AvenirNextCondensed,
    "Avenir Next Condensed", HelveticaNueueCondensed-Regular,
    HelveticaNueueCondensed, "Helvetica Neue Condensed",
    HelveticaCondensed-Regular, HelveticaCondensed, "Helvetica Condensed",
    sans-serif-condensed, -apple-system, BlinkMacSystemFont, "San Francisco",
    "Helvetica Neue", "Segoe UI", Helvetica, "Arial Condensed", Arial,
    sans-serif;
  --font-title: Roboto, ui, "Segoe UI", -apple-system, BlinkMacSystemFont,
    "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-gui: ui, "Segoe UI", -apple-system, BlinkMacSystemFont, "San Francisco",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code: "Source Code Pro", ui-monospace, Consolas, SFMono-Regular,
    "SF Mono", Menlo, "Liberation Mono", monospace;

  /**
   * Images
   */
  --image-transparent-noise: url("../images/noise.png");

  /**
   * Shared Composites
   */
  --background-noise: repeat center/480px var(--image-transparent-noise);

  /**
   * Animations
   */
  --animation-speed-normal: 100ms;
  --animation-speed-slow: 250ms;
  --animation-timing-function-natural: ease-out;
}

@keyframes win-open {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
    border-right-width: 0;
  }

  0.01% {
    width: 0;
    border-right-width: 1ch;
  }

  99.99% {
    border-right-width: 1ch;
  }

  100% {
    border-right-width: 0;
  }
}

@media (prefers-reduced-motion) {
  * {
    animation-duration: 0s !important;
  }
}

html {
  /* Browser-normalizations */
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  grid-template-rows: 1fr min-content;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-normal);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--background-noise);
  opacity: 0.5;
}

.gui-window {
  margin: 0;
  padding: 0;
  place-self: center center;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  box-shadow: var(--gui-window-box-shadow);
  font-family: var(--font-gui);
  color: var(--gui-text-color);
  overflow: hidden;
  user-select: none;

  animation: win-open;
  animation-delay: 0.5s;
  animation-duration: var(--animation-speed-normal);
  animation-timing-function: var(--animation-timing-function-natural);
  animation-fill-mode: both;
  animation-direction: alternate;
}
.gui-title-bar {
  display: grid;
  grid-template-columns: max-content auto min-content;
  grid-template-rows: auto;
  align-items: center;
  justify-items: stretch;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: var(--gui-title-bar-color);
  user-select: none;
}
.gui-window-icon {
  width: 16px;
  height: 16px;
  margin-inline: 14px;
  background-image: url("../images/dowhileprogress-pictorial-mark.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gui-window-title {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
.gui-window-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.gui-window-control {
  display: block;
  width: 46px;
  height: 100%;
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.gui-window-control:hover {
  background-color: var(--gui-window-control-hover-color);
}
.gui-window-control-close:hover {
  background-color: var(--gui-window-control-close-hover-color);
}
.gui-window-control:active {
  background-color: var(--gui-window-control-active-color);
}
.gui-window-control-close:active {
  background-color: var(--gui-window-control-close-active-color);
}
.gui-window-control-minimize {
  background-image: url("../images/ui-icons/win-control-icon-minimize-optimized.svg");
}
.gui-window-control-maximize {
  background-image: url("../images/ui-icons/win-control-icon-maximize-optimized.svg");
}
.gui-window-control-close {
  background-image: url("../images/ui-icons/win-control-icon-close-optimized.svg");
}

.gui-window-contents {
  position: relative;
}

.gui-app-code-editor {
  width: 80ch;
  height: 20lh;
  min-width: 100%;
  min-height: 328px;
  background-color: var(--code-editor-background-color);
  color: var(--code-editor-text-color);
  font-family: var(--font-code);
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 640px), (max-height: 420px) {
  .gui-app-code-editor {
    width: 40ch;
    height: 15lh;
    min-height: 246px;
  }
}

@media (max-width: 360px) {
  .gui-app-code-editor {
    width: 38ch;
  }
}

@media (max-height: 320px) {
  .gui-app-code-editor {
    height: 10lh;
    min-height: 164px;
  }
}
.gui-app-code-editor code,
.gui-app-code-editor p,
.gui-app-code-editor pre {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
.gui-app-code-editor p {
  width: fit-content;
  overflow: hidden;
  border-right: 1ch solid var(--code-editor-cursor-color);

  animation-name: typing;
  animation-fill-mode: both;
  animation-direction: alternate;
}
.gui-app-code-editor p:nth-of-type(1) {
  width: 4ch;
  animation-timing-function: steps(4);
  animation-delay: 1250ms;
  animation-duration: 250ms;
}
.gui-app-code-editor p:nth-of-type(2) {
  width: 12ch;
  animation-timing-function: steps(12);
  animation-delay: 1500ms;
  animation-duration: 600ms;
}
.gui-app-code-editor p:nth-of-type(3) {
  width: 13ch;
  animation-timing-function: steps(13);
  animation-delay: 2100ms;
  animation-duration: 750ms;
}
.gui-app-code-editor p:nth-of-type(4) {
  width: 11ch;
  animation-timing-function: steps(11);
  animation-delay: 2850ms;
  animation-duration: 550ms;
}
.gui-app-code-editor p:nth-of-type(5) {
  width: 19ch;
  animation-timing-function: steps(19);
  animation-delay: 3400ms;
  animation-duration: 1000ms;
}

.gui-app-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 8%;
  background-image: linear-gradient(135deg, #c080c0 0%, #80c0c0 100%);

  animation: fade-in;
  animation-delay: 6s;
  animation-duration: var(--animation-speed-slow);
  animation-timing-function: var(--animation-timing-function-natural);
  animation-fill-mode: both;
  animation-direction: alternate;
}
.gui-app-logo .word-mark {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px #ffffff44);
}

footer {
  margin: 1em 0;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
}
